{% capture additionalFooter %}{% include footer-extra-copy.md %}{% endcapture %}
<footer id="fftf-footer">
    <div class="copy">
        <dl>
            <dt><strong>Press inquiries:</strong></dt>
            <dd>
                <a href="mailto:press@fightforthefuture.org">
                    press@fightforthefuture.org
                </a><br>
                <a href="tel:+15084745248">
                    +1 508 474 5248
                </a>
            </dd>
        </dl>
        {{ additionalFooter | markdownify }}
        <p>
            This is a project of
            <a href="https://fightforthefuture.org" target="_blank">
                Fight for the Future</a>. No copyright intended.
        </p>
        <a href="https://www.fightforthefuture.org" target="_blank">
            <img src="/images/fftf-footer-logo.png" class="footer_logo">
        </a>
    </div>
</footer>
