{% capture additionalFooter %}{% include footer-extra-copy.md %}{% endcapture %}
<footer id="fftfef-footer">
    <div class="copy">
        <dl>
            <dt><strong>Press inquiries:</strong></dt>
            <dd>
                <a href="mailto:press@fightforthefuture.org">
                    press@fightforthefuture.org
                </a><br>
                <a href="tel:+15084745248">
                    +1 508 474 5248
                </a>
            </dd>
        </dl>
        {{ additionalFooter | markdownify }}
        <p>
            This is a campaign of the
            <a href="https://thecenterforrights.org" target="_blank">
                Center for Rights</a>. No copyright intended.
        </p>

        <p>
            We organize against threats to basic rights&mdash;help keep us going
            with a <a href="https://donate.fftfef.org/">donation</a>.
        </p>

        <ul class="inline piped">
            <li><a href="http://www.thecenterforrights.org/privacy">Privacy policy</a></li>
            <li><a href="https://drive.google.com/folderview?id=0B5XElkbwAcWAeXpHaE5zVVVDZW8&usp=sharing">Financial reports</a></li>
        </ul>
        <a href="https://www.fftfef.org" target="_blank">
            <img src="{{ pathlead }}images/fftfef-footer-logo.png" class="footer-logo">
        </a>
    </div>
</footer>
